.section__hero {
  max-height:500px;
  min-height:300px;
  display:flex;
  align-items:flex-start;
  justify-content:center;
  text-align:center;
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
}